<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Editar</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://vercel.live;">

</head>
<body style="background-color: bisque;">
    <div class="container">
        <form action="/editdata" method="post">
            <div class="mb-3">
              <label class="form-label">Proveedor</label>
        <input value="<%=data.body.persona%>" type="text" class="form-control" id="persona" name="persona" onkeyup="this.value=NumText(this.value)" required>
        <div class="mb-3">
          <label class="form-label">Existencias</label>
          <input value="<%=data.body.edad%>" type="text" class="form-control" id="edad" name="edad"
            onkeyup="this.value=Numeros(this.value)" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Precio</label>
          <input value="<%=data.body.franchise%>" type="text" class="form-control" id="franchise" name="franchise" onkeyup="this.value=Numeros(this.value)" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Producto</label>
          <input value="<%=data.body.name%>" type="text" class="form-control" id="name" name="name"
            onkeyup="this.value=NumText(this.value)" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Marca</label>
          <input value="<%=data.body.year%>" type="text" class="form-control" id="year" name="year" onkeyup="this.value=NumText(this.value)" required>
        </div>
            <input type="hidden" name="oldname" value="<%=data.body.name%>">
            <button type="submit" class="btn btn-primary">Editar</button>
            <a href="/" type="submit" class="btn btn-secondary">Cancelar</a>
          </form>
    </div>
    <script>
      function NumText(string) {//solo letras y numeros
        var out = '';
        //Se añaden las letras validas
        var filtro = 'abcdefghijklmnñopqrstuvwxyzABCDEFGHIJKLMNÑOPQRSTUVWXYZ1234567890 ';//Caracteres validos
  
        for (var i = 0; i < string.length; i++)
          if (filtro.indexOf(string.charAt(i)) != -1)
            out += string.charAt(i);
        return out;
      }
  
      function Numeros(string) {//Solo numeros
        var out = '';
        var filtro = '1234567890';//Caracteres validos
  
        //Recorrer el texto y verificar si el caracter se encuentra en la lista de validos 
        for (var i = 0; i < string.length; i++)
          if (filtro.indexOf(string.charAt(i)) != -1)
            //Se añaden a la salida los caracteres validos
            out += string.charAt(i);
  
        //Retornar valor filtrado
        return out;
      } 
    </script>
</body>
</html>